<footer>
    <article class="img-iconos">
        <div class="logo-pie">
            <img src="../img/logo-bier-fass.png" alt="logo">
        </div>
        <div class="iconos">
            <a href="http://www.facebook.com" target="_blank"><img src="../img/facebook.png" alt="facebook"></a>
            <a href="http://www.instagram.com" target="_blank"><img src="../img/instagram.png" alt="instagram"></a>
            <a href="http://www.twitter.com" target="_blank"><img src="../img/twitter.png" alt="twitter"></a>
        </div>
    </article>
    <article class="pie-pagina">
        <div class="pie">
            <a href="#" class="privacidad">POLÍTICA DE PRIVACIDAD |</a>
        </div>
        <div class="pie">
            <a href="#" class="bases-condiciones">BASES Y CONDICIONES |</a>
        </div>
        <div class="pie">
            <a href="#" class="terminos">TERMINOS Y CONDICIONES |</a>
        </div>
        <div class="pie">
            <a href="#" class="ofertas-laborales">OPORTUNIDADES LABORALES |</a>
        </div>
        <div class="pie">
            PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO COMPARTA EL CONTENIDO CON MENORES. Bier Fass®
        </div>
    </article>
</footer>