<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style-gian.css" rel="stylesheet">
    <title>Bier Fass</title>
    <script src="https://kit.fontawesome.com/d7959a96fb.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c689bf8ba.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <header>
        <div class="logo">
            <img src="img/logo-bier-fass.png" alt="logo">
        </div>

        <article class="barra">
            <div class="busqueda">
                <input type="text" placeholder="  Buscar" required>
            </div>

            <div class="btn">
                <a href="#" class="lupa fa fa-search icon"></a>
            </div>
            <div class="carrito">
                <a href="#" class="carroto material-symbols-outlined">shopping_cart</a>
            </div>
            <div class="perfil">
                <a href="#" class="perfil material-symbols-outlined">account_circle</a>
            </div>
            <div class="menu">
                <a href="#" class="menu material-symbols-outlined">menu</a>
            </div>
        </article>

    </header>
    
    <main>

        <div class="carrito-compra">

            <div class="titulo-carrito">
                <h2>Mi carrito de compras</h2><i class="fa-solid fa-cart-shopping"></i>
            </div>
            <article class="articulo-producto">
                <div class="producto">
                    <h4>Productos</h4>
                </div>
                <div class="cantidad">
                    <p><b>Cantidad</b></p>
                </div>

                <div class="precio">
                    <p><b>Precio</b></p>
                </div>

            </article>
            <div class="articulo">
                <div class="descripcion-producto">
                    <p>Quilmes Roja 473cm3</p>
                    <i class="fa-solid fa-circle-plus"></i>
                    <i class="fa-solid fa-square-2"></i>
                    <i class="fa-solid fa-circle-minus"></i>
                    <input type="text" name="precio" placeholder="$500">
                </div>
            </div>
            <br>
            <div class="articulo">
                <div class="descripcion-producto">
                    <p>Bier Fass Schwarz 1l.</p>
                    <i class="fa-solid fa-circle-plus"></i>
                    <i class="fa-solid fa-square-2"></i>
                    <i class="fa-solid fa-circle-minus"></i>
                    <input type="text" name="precio" placeholder="$300">
                </div>
            </div>
            <br>
            <div class="articulo">
                <div class="descripcion-producto">
                    <p>Andes Rubia 473cm3 </p>
                    <i class="fa-solid fa-circle-plus"></i>
                    <i class="fa-solid fa-square-2"></i>
                    <i class="fa-solid fa-circle-minus"></i>
                    <input type="text" name="precio" placeholder="$700">
                </div>
            </div>
            <br>
            <article class="compra">
                <div class="subtotal">
                    <p><b>Subtotal</b></p>
                    <input type="text" name="Subtotal" placeholder="$1500">
                </div>
                <br>
                <div class="descuentos">
                    <p><b>Descuentos</b></p>
                    <input type="text" name="Descuentos" placeholder="$200">
                </div>
                <br>
                <div class="total">
                    <p><b>Total</b></p>
                    <input type="text" name="Total" placeholder="$1300">
                </div>
                <br>
                <br>
                <div class="fin-compra">
                    <button type="text">FINALIZAR COMPRA</button>
                </div>
            </article>
        </div>

    </main>
    <footer>
        <article class="img-iconos">
            <div class="logo-pie">
                <img src="img/logo-bier-fass.png" alt="logo">
            </div>
            <div class="iconos">
                <a href="http://www.facebook.com" target="_blank"><img src="img/facebook.png" alt="facebook"></a>
                <a href="http://www.instagram.com" target="_blank"><img src="img/instagram.png" alt="instagram"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="img/twitter.png" alt="twitter"></a>
            </div>
        </article>
        <article class="pie-pagina">
            <div class="pie">
                <a href="#" class="privacidad">POLÍTICA DE PRIVACIDAD |</a>
            </div>
            <div class="pie">
                <a href="#" class="bases-condiciones">BASES Y CONDICIONES |</a>
            </div>
            <div class="pie">
                <a href="#" class="terminos">TERMINOS Y CONDICIONES |</a>
            </div>
            <div class="pie">
                <a href="#" class="ofertas-laborales">OPORTUNIDADES LABORALES |</a>
            </div>
            <div class="pie">
                PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO COMPARTA EL CONTENIDO CON MENORES. Bier Fass®
            </div>
        </article>
    </footer>
</body>

</html>