<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/styles-Gise.css">
    <%- include('partials/head') %>
</html>

<body>
    <header id="header">
        <%- include('partials/header')%>
    </header>

    <main>
        
            <div class="box-principal">
                <div class="nom-variedad">
                    <h1>Quilmes Clásica</h1>

                    <br>
                    <div class="box">

                        <div class="img">
                            <img src="../img/clasica-q.png" alt="cerveza">
                        </div>
                    </div>
                </div>
                <div class="box-centrado">
                    <div class="box-descripcion">
                        <div class="descripcion">
                            <p>Es una típica cerveza lager perfectamente equilibrada, transparente dorada, buen nivel de
                                espuma
                                y sabor.
                                Para hacerla se utilizan sólo ingredientes naturales que crecen en los campos de
                                Argentina.
                            </p>
                        </div>
                    </div>
                    <div class="caja">
                        <div class="dato">
                            <div class="graduacion">
                                <p class="p1">5,2% </p>
                                <p class="p2">Graduacion Alcoholica</p>
                            </div>
                            <div class="amargor">
                                <p class="p1">10</p>
                                <p class="p2"> Amargor</p>
                            </div>
                            <div class="temperatura">
                                <p class="p1">3° </p>
                                <p class="p2">temperatura ideal</p>
                            </div>
                        </div>
                    </div>
                    <div class="box-centrado">
                        <div class="box-form">
                            <form id="menu" class="form">
                                <div class="opciones-compra">
                                    <label for="compra">Elija los productos:</label>
                                </div>
                                <select name="lista">
                                    <option value="">Pack de 6 unidades</option>
                                    <option value="">Pack de 12 unidades</option>
                                    <option value="">Pack de 24 unidades</option>
                                    <option value="">Unidad</option>
                                </select>


                                <div class="enviar">
                                    <div class="send">
                                        <button type="submit"
                                            style="text-decoration: none; background-color:none;">Enviar
                                            al
                                            carrito</button>
                                    </div>
                                </div>
                                <br>
                            </form>
                        </div>
                    </div>
                </div>




            
        </div>
    </main>

    <%- include('partials/footer')%>
</body>

</html>