<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/styles-Form.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5c689bf8ba.js" crossorigin="anonymous"></script>
    <title>Formulario productos</title>

</head>

<body>
 
<main>
    <form action="/views/formUser" method="Post" onsubmit="return formulario()" id="formulario" >
            <div class="id">
                <label for="_id">Id del producto:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="name">
                <label for="_name">Nombre del producto:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="type">
                <label for="_type">Tipo de cerveza::</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="producto-img">
                <label for="img">Imgen del producto:</label>
                <input type="file" name="imagenProducto" accept=".png, jpg, jpng" required>
            </div>
            <br>
            <div class="stock">
                <label for="_stock">Stock:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="price">
                <label for="_price">Precio:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="description">
                <label for="_description">Descripcion:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="alcohol">
                <label for="_alcohol">Graduacion alcoholica:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="bitterness">
                <label for="_bitterness">Amargor:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            <div class="idealTemperature">
                <label for="_idealTemperature">Temperatura ideal:</label>
                <input type="text" name="nombreProducto" id="nombreProducto" placeholder="Nombre del producto" required>
            </div>
            <br>
            
            
            </article>
            <script>
                const formulario = document.getElementById('formulario');
                formulario.addEventListener('submit', (e) => {
                    if (formulario.nombreUsuario.value.length > 2) {
                        alert('No se ha ingresado un nombre valido');
                        e.preventDefault();
                    } else {
                        alert('El producto se agrego correctamente');
                    }
                });
            </script>

        </form>

      
    </main>
</body>

</html>