<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="../css/styles-lucas.css">
   
   <style>
        body {

            background-image: linear-gradient(rgba(218, 165, 32, 0.2), rgba(2, 16, 53, 0.75)), url("../img/home.jpg");
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            background-size: cover;

        }

        header {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: flex-start;
        }

        main {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            padding-top: 30px;
            padding-left: 30px;
        }

        footer {
            width: 100x;
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>


<body>
    <header id="header">
        <%- include('partials/header')%>
    </header>

    

    <main>
        <br>
        <br>
        <br>
        <div id="eslogan">
            <p class="frase">BIENVENIDOS A BIER FASS, LA CERVEZA ARTESANAL POR EXCELENCIA. <a href="products" ><button class="boton-comprar" style="text-decoration: none"> COMPRAR </button></a></p>
            <div class="comprar">   
            </div>
    </main>

    <footer>

        <article class="img-iconos">
            <div class="logo-pie">
                <img src="img/logo-bier-fass.png" alt="logo">
            </div>
            <div class="iconos">
                <a href="http://www.facebook.com" target="_blank"><img src="img/facebook.png" alt="facebook"></a>
                <a href="http://www.instagram.com" target="_blank"><img src="img/instagram.png" alt="instagram"></a>
                <a href="http://www.twitter.com" target="_blank"><img src="img/twitter.png" alt="twitter"></a>
            </div>
        </article>
        <article class="pie-pagina">
            <div class="pie">
                <a href="#" class="privacidad">POLÍTICA DE PRIVACIDAD |</a>
            </div>
            <div class="pie">
                <a href="#" class="bases-condiciones">BASES Y CONDICIONES |</a>
            </div>
            <div class="pie">
                <a href="#" class="terminos">TERMINOS Y CONDICIONES |</a>
            </div>
            <div class="pie">
                <a href="#" class="ofertas-laborales">OPORTUNIDADES LABORALES |</a>
            </div>
            <div class="pie">
                PROHIBIDA SU VENTA A MENORES DE 18 AÑOS. NO COMPARTA EL CONTENIDO CON MENORES. Bier Fass®
            </div>
        </article>
    </footer>

</body>

</html>
