<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/styles-lucas.css">
    <link rel="stylesheet" href="../css/profile.css">
    <%- include('partials/head') %>
</head>

<body>
    <header>
        <%- include('partials/header')%>
    </header>
<main>

	<div class="container">
				<h2>Hi User</h2>
				<img src="/img/avatars/icons-avatar.png">
				<br>
				<br>
				<div class="alert alert-success">user@email.com</div>
	</div>
	
    <footer>
        <%- include('partials/footer')%>
    </footer>
</body>

</html>
