<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <link rel="stylesheet" href="../css/styles-lucas.css">
    <meta http-equiv="refresh" content="0, url= /ageDate"/>
</head>
<body>
    
</body>
</html>