<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bier Fass</title>
    <link rel="stylesheet" href="css/styles-fran2.css">
    <link rel="stylesheet" href="css/register.css">
    <script src="https://kit.fontawesome.com/704063b457.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body>
        <header>
            <h1>Nuevo Usuario</h1>
        </header>

        <main>
            <section>
                    <form class="redes">
                    <button class="btn btnFacebook">
                        Registrarse con Facebook
                        <i class='fa fa-facebook'></i>
                    </button>
                    </a>
                    </form>
        
                    <form class="redes">
                    <button class="btn btnGoogle">
                        Registrarse con Google
                        <i class='fa fa-google'></i>
                    </button>
                    </a>
                    </form>

                <form action="#">
                    <input type="text" name="nombre" placeholder="Nombre">
                    <input type="text" name="apellido" placeholder="Apellido">
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="contraseña" placeholder="Contraseña">

                    <input type="checkbox" id="cbox1" value="first_checkbox">
                    <label for="cbox1" class="textoCheck"> Acepto los términos y condiciones de Bier Fass.</label>
                    <br>
                    <input type="checkbox" id="cbox2" value="second_checkbox"> 
                    <label for="cbox2" class="textoCheck"> Deseo recibir promociones.</label>
                    <br>
                    <a href="#" class="textoCheck">Términos y condiciones</a>
                    <input type="submit" value="Registrarse">
                </form>
            </section>




        </main>

        <footer>

        </footer>

    </body>

</html>