body {
    font-family: Montserrat;
    color: white;
    overflow-x:hidden;
    overflow-y: scroll;
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('/img/pizzaycerveza.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    margin: 0;
    height: 100%; 
    padding: 27px;
}
