* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {

    background-image: linear-gradient(#3b134d74, #3b134d74), url("../img/botellas-carrito.jpg");
    font-family: 'montserrat', sans-serif;
    width: 100%;
    border: 15px;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* header  */
 .logo {
    display: flex;
    width: 100px;
    height: 100px;
} 
.logo img{
    width: 100px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.btn a {
    background-color: #FFFFFF00 !important;
}

.barra {
    display: flex;

}

.barra div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    background-color: rgba(2, 16, 53, 0.75);
    font-size: 14px;
    padding: 3px;
    margin: 2px;
}

.busqueda input {
    background-color: rgba(2, 16, 53, 0.75);
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-right: -24px;
}

/* Style table */

table {
    background-color: rgb(27, 7, 40);
    color: white;
    width: 95vw;
    margin: auto;
}
thead{
    background-color: rgba(99, 99, 102, 0.77);
    align-items: center;
    
}

.localizacion {
    background-color: rgba(0, 0, 0, 0.478);
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-radius: 20px;
    width: 98%;
    margin: auto;
    margin-bottom: 2vh;
}
.localizacion-der , 
.localizacion-izq  {
    margin-left: 10px;
    margin-right: 10px;
    padding: 3px;
    border-radius: 5px;
}
.localizacion a {
    
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}
.localizacion a:hover {
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    text-decoration: none;
    color: #696161;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

thead th {
    padding: 15px;
}
tbody {
    background-color:rgba(99, 99, 102, 0.25);
    text-align: center;
}
tbody td {
    padding: 10px;
    padding-left: 2%;                                                                             
}

td img {
    width: 30px;
}
/* footer */
.logo-pie {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.logo-pie img {
    width: 40px;
    height: 40px;
    opacity: 0.75;
}

.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

.pie a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 5px;

}

.pie {
    font-size: 12px;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
}


.logo-mayoria img {
    width: 50px;
    height: 50px;

}

.logo-mayoria {
    display: flex;
    text-align: center;
    margin-top: 30%;
    position: absolute;
}

.iconos a {
    padding-left: 5px;
}

.iconos a img {
    width: 15px;
    height: 15px;
}

.img-iconos {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-right: 15px;
    margin-left: 15px;
}

.iconos {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}
