/* propiedades aplicadas de maner general */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'montserrat', sans-serif;
}
.logo img {
    width: 100px;


}

.barra div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    background-color: rgba(2, 16, 53, 0.75);
    font-size: 14px;
    padding: 3px;
    margin: 2px;
}

.busqueda input {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-right: -24px;
    color: white
}

.btn a {
    background-color: #ffffff00 !important;
}
.barra {
    display: flex;
    align-items: center;
    height: 100hv;
    margin-right: 3px
}
.busqueda {
    padding: 10px;
    margin-right: -10px;
}

.busqueda input {
    width: 100px;
}

#header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}

.logo img {
    width: 100px;


}

h1 {
    width: 100%;
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: rgba(243, 242, 242, 0.95);
}
input{
    width: 50vw;
    height: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
}
#categoria{
    width: 2vw;
    
}

#formulario {
    width: 100%;
    border-radius: 5px;
    background-color: rgba(243, 242, 242, 0.95);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
}

input .precio {
    margin-left: 20px;

}

.categorias {
    width: 50%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px rgb(113, 113, 113)0;

}

label {
    width: 45%;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;

}


.agregar {
    padding: 3px 3px;
    border-radius: 4px;
    width: 30%;
    height: 30px;

}

.modificar {
    margin-top: 5px;
    padding: 3px 3px;
    border-radius: 4px;
    width: 30%;
    height: 30px;

}

.boton-publicar button {
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 30px;
    transition: 500ms;
    
    

}
.boton-guardar button {
    background-color: white;
    border-color: white;
    color: black;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    height: 30px;
    transition: 500ms;
    
    

}
.categoria {
    width: 30%;

}
.box-categoria{
    display: flex;
}


/* -----------------query------------------- */
@media(min-width:480px) {
    .main-header-footer {
        justify-content: space-around;
        display: block;
        display: none;
    }

    .formulario {
        width: 70%;
        display: block;
        flex-direction: column;

    }
}