* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(8, 8, 7, 0.309), rgba(0, 0, 0, 0.63)), url("../img/choperacervezasartesanales.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

footer {
    width: 100x;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 0;
    width: 100%;
}

.logo img {
    width: 100px;


}

.barra div a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    background-color: rgba(2, 16, 53, 0.75);
    font-size: 14px;
    padding: 3px;
    margin: 2px;
}

.busqueda input {
    background-color: rgba(2, 16, 53, 0.75);
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
    margin-right: -24px;
    color: white
}

.btn a {
    background-color: #ffffff00 !important;
}

.comprar {
    display: flex;
    align-items: flex-start;
}

.boton-comprar {
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    width: 6rem;
    height: 22px;
    background-color: rgb(218, 165, 32);
    border-color: rgb(218, 165, 32);
    border-radius: 25px;
    color: black;
    border-style: none;
    margin: auto;
}

.barra {
    display: flex;
    align-items: center;
    height: 100hv;
    margin-right: 3px
}

.barra-izq {
    display: flex;
    justify-content: flex-end;
}

.busqueda {
    padding: 10px;
    margin-right: -10px;
}

.busqueda input {
    width: 100px;
}

.logo-pie {
    display: flex;
    justify-content: flex-start;
    width: 50%;
}

.logo-pie img {
    width: 40px;
    height: 40px;
    opacity: 0.75;
}

.pie-pagina {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

.pie a {
    font-size: 12px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-right: 5px;

}

.pie {
    font-size: 12px;
    color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
}

.iconos a {
    padding-left: 5px;
}

.iconos a img {
    width: 20px;
    height: 20px;
}

.img-iconos {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-right: 15px;
    margin-left: 15px;
}

.iconos {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.img img {
    width: 100%;
    text-align: center;
}

h1 {
    border-bottom: 2px solid #f4ededa9
}

.nom-variedad {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 14px;
    color: aliceblue;
    width: 75%;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);

    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.361);

}

.descripcion {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(40, 42, 44);
    width: 75%;
    text-align: center;
    padding-bottom: 15px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    align-items: center;
    margin-top: 5%;
    margin-left: 12.5%;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.361);

}

.box-form {
    width: 100%;
    text-align: center;

}

.box-principal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.caja {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.p1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
    text-align: center;
}

.p2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: white;
    text-align: center;
}

.graduacion {
    width: 33%;
}

.temperatura {
    width: 33%;
}

.amargor {
    width: 33%;
}

.dato {
    width: 74%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #f4eded;
    border-bottom: 1px solid #f4eded;
    margin-top: 5%;

}

.send button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .7rem;
    width: 6rem;
    height: 22px;
    background-color: rgb(218, 165, 32);
    border-color: rgb(218, 165, 32);
    border-radius: 25px;
    color: black;
    border-style: none;
    margin: auto;
    margin-top: 20px;
}

.opciones-compra {
    margin-top: 30px;
    margin-bottom: 15px;
}

.opciones-compra label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;

}

@media(min-width:480px) {

    .box-principal {
        display: flex;
        flex-direction: row;
    }

    .nom-variedad {
        width: 45%;
        padding: 0;
        margin: 0%;

    }

    .box-centrado {
        width: 45%;
        padding: 0;
        margin: 0;
    }

    .box-form {
        margin-left: 55%;
    }

    .descripcion {
        font-size: 12px;
    }

}