<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bier Fass</title>
    <link rel="stylesheet" href="/css/styles-redirectMinors.css">
    <meta http-equiv="refresh" content="40, url= https://open.spotify.com/playlist/37i9dQZF1DX10zKzsJ2jva"/>
</head>
<body >
    <div class="iframe-container">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/kAq42jaGrM4?autoplay=1&controles=0&star=08&mute=0&enablejsapi=1" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
       
</html>